* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 16px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background: none;
    cursor: pointer;
}

.button:not(:disabled):hover {
    background: hsl(0 0% 92%);
}

.button:disabled {
    cursor: not-allowed;
}

.textfield__label {
    font-size: 14px;
    margin-bottom: 4px;
}

.textfield__input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    min-width: 240px;
}

.textfield__error {
    color: red;
    font-size: 12px;
    height: 14px;
}

.root {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user__remove-button {
    font-size: 24px;
    width: 32px;
    padding: 0;
    color: red;
}
